{{ define "main" }}
  <section class="content-page">
    <div
      class="
        section-container
        content-page-container
        content-width-{{ .Params.content_width | default "normal" }}
      "
    >
      {{ with .Params.image }}
        <img
          class="
            content-page-image
            image-size-{{ $.Params.image_size | default "large" }}
            image-align-{{ $.Params.image_alignment | default "center" }}
          "
          src="{{ . }}"
          alt="{{ $.Title }}"
        >
      {{ end }}

      {{ with .Section }}
        <p class="section-label">
          {{ . | humanize }}
        </p>
      {{ end }}

      <h1 class="title-size-{{ .Params.title_size | default "medium" }}">
        {{ .Title }}
      </h1>

      {{ with .Params.description }}
        <p class="content-page-description">
          {{ . }}
        </p>
      {{ end }}

      <div class="content-page-body">
        {{ .Content }}
      </div>

      {{ with .Params.gallery }}
        <div
          class="
            photography-grid
            gallery-columns-{{ $.Params.gallery_columns | default "2" }}
          "
        >
          {{ range . }}
            <figure class="photography-item">
              <img
                src="{{ .image }}"
                alt="{{ .alt | default "Photography by Taylor Azizeh" }}"
              >

              {{ with .caption }}
                <figcaption>
                  {{ . }}
                </figcaption>
              {{ end }}
            </figure>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
